@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
  --background-color: #0d66c8;
  --accent1-color: #13e7e7;
  --accent2-color: #007c7c;
  --light1: #25dbc3;
  --light2: #0d66c8;
  --dark1: #0b1026;
  --dark2: #131d3b;
  box-sizing: border-box;

  /*Specific color variables*/
  --logo-color: var(--primary-hover-color);
  --gradient: linear-gradient(45deg, var(--primary-hover-color), var(--accent1-color));
  --gradient2: linear-gradient(45deg, var(--background-color), var(--accent1-color));

  /* change the values below to your chosen font(s) */
  --cool-text: 'Inconsolata', monospace;
  --main-text: 'Nanum Gothic', sans-serif;
  --scripture-text: 'Noto Serif', serif;
  --not-sure: 'Roboto', sans-serif;
  
  /* old site colors*/
  --old-light1: #91170d;
  --old-light2: #fae1c3;
  box-sizing: border-box;
}

@keyframes bg-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}

* {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: white;
  line-height: normal;
}


.dark {
  color: #333;
}

.bluewhiteground * *,
.bluewhiteground *,
.bluewhiteground {
  color:#0d66c8;
  background-color: white;
}

h1 {
  font-size: 2.8em;
  line-height: normal;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.3em;
}

p {
  font-size: 2.1em;
  line-height: 32px;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
}

main {
  margin-top: 0px;
}

li {
  list-style: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background-color);
  color: #4f5c65;
  font-size: 16px;
  line-height: normal;
  max-width: 1400px;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}


.flex-container {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  padding-right: 36px;
  padding-bottom: 10px;
  padding-left: 36px;
  gap: 5px;
  justify-content: center;
}


.button {
  font-size: 2.1em;
  padding: 9px 15px;
  background-color: #0d66c8;
  color: white;
  outline: 0 solid white;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  transition: outline;
  transition-duration: 80ms;
}


.web-button {
  font-size: 2.1em;
  padding: 9px 15px;
  background-color: transparent;
  color: white;
  outline: 2px solid white;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: fit-content;
  transition: outline;
  transition-duration: 50ms;
}

.web-button:hover {
  background-color: transparent;
  background-size: 200%;
  background-position: bottom;
  background-image: linear-gradient(var(--light1), var(--light2));
  outline: 4px solid #ffffff;

}

.blue-web-button {
  font-size: 2.1em;
  padding: 9px 15px;
  background-image: linear-gradient(var(--light1, var(--light2)));
  color: var(--background-color);
  outline: 2px solid var(--background-color);
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: fit-content;
  transition: outline 50ms;
}

.blue-web-button:hover {
  outline: 4px solid var(--background-color);
}
.button:focus,
.button:hover {
  outline: 3px solid #ffffff;
}

header {
  box-sizing: border-box;
  float: none;
  line-height: 24px;
  position: relative;
  z-index: 1000;
}
.card {
  background-color: var(--background-color);
  display: block;
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;

}

.container {
  padding-top: 0px;
  position: relative;
  z-index: 2;
  margin-bottom: -4vw;
  width: 100%;
  max-width: 1272px;
  margin-right: 36px;
  padding-bottom: 0px;
  padding-left: 36px;
  color: #ffffff;
  height: 500px;
}

.divider {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 4vw;
  /* opacity: 0; */
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;

}
.little-right-margin {
  margin-right: 1%;
}


.get-app-button {
  background-image: linear-gradient(to top left, var(--dark1), var(--dark2));
  background-size: 700%;
  background-position: right;
  transition: background-position 3sec;
  color: white;
  outline: 0px solid;
  transition: outline 1sec;
  margin-left: 1%;
}

.get-app-button:focus,
.get-app-button:hover {
  outline: 3px solid white;
}

.whiteground {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  height: fit-content;
  padding-right: 5%;
  padding-left: 5%;
}

.whiteground * *,
.whiteground * {
  color: #333;
}

.transparentground {
  background: transparent;
  opacity: 0.5;
  padding-top: 5%;
  padding-bottom: 5%;
  height: fit-content;
}
  
.card-gradient {
  background-image: linear-gradient(to left, var(--light1), var(--light2));
  background-size: 200%;
  -webkit-animation: bg-animation 11s infinite alternate;
  z-index: 1000000;
}

.video-card {
  background-color: transparent;
}

.mini-flex-card1 {
  display: flex;
  margin-right: auto;
  align-items: center;
  gap: 5%;
}

.logo {
  width: 500px;
  height: auto;
}

.logo-nav{
  height: 90%;
  width: auto;
  margin-top: 10px;
}

.logo-buddy {
  width: fit-content;
  height: 60px;
}

.logo-writing {
  font-size: 3em;
  padding: 9px 15px;
  color: white;
  text-decoration: none;
  margin-top: 19px;
  font-weight: 600;
  margin-right: auto;
}


img {
  display: block;
  margin: auto;
  width: 100%;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: var(--primary-color);
}
.colors td{
  width: 25%;
  height: 3em;
}

.background {
  background-color: var(--background-color);
}
.primary {
  background-color: var(--primary-color);
}
.hover {
  background-color: var(--primary-hover-color);
}
.accent2 {
  background-color: var(--accent1-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--accent1-color);
}

.navbar {
  outline: 2px solid white;
  margin-left:10px;
  margin-right:10px;
}
nav {
  background-image: var(--gradient2);
  background-size: 300%;
  background-position: left;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  animation: bg-animation 20s infinite;
}

nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  border: var(--primary-hover-color);

}
nav a:link, nav a:visited {
  color: var(--primary-color);
}
nav a:hover {
  color: var(--primary-hover-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
  color: var(--background-color);
}
.sitemap > div {

  text-align: center;
  color: white;
}

.sm {
  color: var(--accent1-color);
}

.sm-home {
  grid-area: home;
  background-color: var(--accent1-color);
  line-height: 3em;
}

.sm-page2 {
  grid-area: page2;
  background-color: var(--accent1-color);
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: var(--accent1-color);
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

.dark-text {
  color: #202020;
}

section {
  display: flex;
  justify-content: center;
  gap: 1px;
}

.wireframe {
  height: auto;
}

.content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 50px;
}

.content-grid > div > p {
  text-align: left;
}

img {
  display: block;
  margin: auto;
  width: 100%;
}

.mini-flex-card1 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.original-web-button,
.web-button {
  font-size: 2.1em;
  padding: 9px 15px;
  background-color: transparent;
  color: white;
  outline: 2px solid white;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: fit-content;
  transition: outline;
  transition-duration: 50ms;
}

.web-button:hover {
  background-color: transparent;
  background-size: 100%;
  background-position: bottom;
  background-image: linear-gradient(var(--light1), var(--light2));
  outline: 4px solid #ffffff;
}

.original-web-button:hover {
  background-image: linear-gradient(var(--old-light1), var(--old-light2));
  -webkit-background-size: 200%;
  -webkit-background-position: top;
  outline: 4px solid #ffffff;


}