* {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
  background-color: #007bff;
  color: #4f5c65;
  font-size: 16px;
  line-height: 24px;
}

body {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  font-family: Arial,sans-serif;
}

.dark-blue {
  background-color: darkblue;
}

.logo{
  height: auto;
  width: 100px;
  vertical-align: middle;
}
.flex-container {
  position: relative;
  background: #dddddd;
  background-color: rgb(221, 221, 221);
  z-index: 1000;
  display: flex;
  padding: 7px 2%;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  position: relative;
  width: 100%;
  max-width: 1272px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 36px;
  padding-bottom: 0px;
  padding-left: 36px;
}

.button {
  font-size: 2em;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;

}

.button:hover {
  background-color:#0463c9;
}
header {
  box-sizing: border-box;
  display: flex;
  float: none;
  line-height: 24px;
  position: relative;
  z-index: 1000;
}
.container {
  
}