@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
  --background-color: #0d66c8;
  --accent1-color: #13e7e7;
  --accent2-color: #007c7c;
  --light1: #25dbc3;
  --light2: #0d66c8;
  --dark1: #0b1026;
  --dark2: #131d3b;
  box-sizing: border-box;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: white;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.dark {
  color: #333;
}
.bluewhiteground * *,
.bluewhiteground *,
.bluewhiteground {
  color:#0d66c8;
  background-color: white;
}
h1 {
  font-size: 2.8em;
  line-height: normal;
}

h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.1em;
}
p {
  font-size: 2.1em;
  line-height: 32px;
}
html {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
}

main {
  margin-top: 0px;
}

li {
  list-style: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background-color);
  color: #4f5c65;
  font-size: 16px;
  line-height: normal;
  margin: 0px 0px 0px 0px;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.logo{
  height: 90%;
  width: auto;
  margin-top: 10px;
}

.logo-buddy {
  width: fit-content;
  height: 60px;
}

.logo-writing {
  font-size: 3em;
  padding: 9px 15px;
  color: white;
  text-decoration: none;
  margin-top: 19px;
  font-weight: 600;
  margin-right: auto;
}

.flex-container {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  padding-right: 36px;
  padding-bottom: 10px;
  padding-left: 36px;
  gap: 5px;
  justify-content: center;
}


.button {
  font-size: 2.1em;
  padding: 9px 15px;
  background-color: #0d66c8;
  color: white;
  outline: 0 solid white;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  transition: outline;
  transition-duration: 80ms;
}

.web-button {
  font-size: 2.1em;
  padding: 9px 15px;
  background-color: transparent;
  color: white;
  outline: 2px solid white;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: fit-content;
  transition: outline;
  transition-duration: 50ms;
}

.web-button:hover {
  background-color: transparent;
  background-size: 200%;
  background-position: bottom;
  background-image: linear-gradient(var(--light1), var(--light2));
  outline: 4px solid #ffffff;

}

.blue-web-button {
  font-size: 2.1em;
  padding: 9px 15px;
  background-image: linear-gradient(var(--light1, var(--light2)));
  color: var(--background-color);
  outline: 2px solid var(--background-color);
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: fit-content;
  transition: outline 50ms;
}

.blue-web-button:hover {
  outline: 4px solid var(--background-color);
}
.button:focus,
.button:hover {
  outline: 3px solid #ffffff;
}

header {
  box-sizing: border-box;
  float: none;
  line-height: 24px;
  position: relative;
  z-index: 1000;
}
.card {
  background-color: var(--background-color);
  display: block;
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;

}

.container {
  padding-top: 0px;
  position: relative;
  z-index: 2;
  margin-bottom: -4vw;
  width: 100%;
  max-width: 1272px;
  margin-right: 36px;
  padding-bottom: 0px;
  padding-left: 36px;
  color: #ffffff;
  height: 500px;
}

.divider {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 4vw;
  /* opacity: 0; */
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;

}
.little-right-margin {
  margin-right: 1%;
}


.get-app-button {
  background-image: linear-gradient(to top left, var(--dark1), var(--dark2));
  background-size: 700%;
  background-position: right;
  transition: background-position 3sec;
  color: white;
  outline: 0px solid;
  transition: outline 1sec;
  margin-left: 1%;
}

.get-app-button:focus,
.get-app-button:hover {
  outline: 3px solid white;
}

@media (max-width: 823px) {
  .sticky {
    position: unset;
  }
  .flex-container {
    flex-direction: column;
    width: fit-content;
    margin-left: 0px;
  }
  .logo-writing,
  .button {
    margin-right: auto;
    margin-left: 0;
    padding-left: 0%;
  }
  .logo-writing {
    margin-top: 40px;
  }
  .get-app-button {
    position: absolute;
    right: 0;
    margin-top: 12px;
    margin-right: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .flex-card {
    display: flex;
    flex-direction: column;
  }
  .card1 {
    padding-top: 160px;
    display: block;
  }

}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.sticky + .content {
  padding-top: 60px;
}

.wept {
  background-color: red;
  height: fit-content;
  width: 100%;

}


.whiteground {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  height: fit-content;
  padding-right: 5%;
  padding-left: 5%;
}

.whiteground * *,
.whiteground * {
  color: #333;
}

.transparentground {
  background: transparent;
  opacity: 0.5;
  padding-top: 5%;
  padding-bottom: 5%;
  height: fit-content;
}
  
.card-gradient {
  background-image: linear-gradient(to left, var(--light1), var(--light2));
  background-size: 200%;
  -webkit-animation: bg-animation 11s infinite alternate;
  z-index: 1000000;
}

.video-card {
  background-color: transparent;

}

.mini-flex-card1 {
  display: flex;
  margin-right: auto;
  align-items: center;
  gap: 5%;
}

.card1 {
  padding-top: 62px;
}

.flex-card {
  display: flex;
  flex-direction: row-reverse;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  gap: 5%;
  justify-content: center;
}



.cool-blue-border {
  outline: 4px solid #0d66c8;
  border-radius: 12px;
  padding: 20px 20px 20px 20px;
}
.scaleable {
  width: 22%;
  margin-left: -5%;
}

.limit-width {
  max-width: 32%;
  padding: 2%;
}

.footer-columns {
  display: flex;
  justify-content: center;
  gap: 12%;
}

.footer-columns * h3:hover {
  color: var(--background-color);
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  width: 100%;
  gap: 3%;

}
.features-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  outline: 3px solid var(--background-color);
  border-radius: 9px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: outline;
  transition-duration: 50ms;
}
.features-item:hover {
  outline: 4px solid var(--background-color);
}
.features-item p {
  white-space: nowrap;
  margin-top: 9px;
  margin-bottom: 9px;
  color: #333;

}
.features-img {
  width: 30px;
  height: 30px
}

.social_media {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.s-card {
  background-color: #0d66c8;
}

#forgetting-curve-home {
  width: 45%;
  box-shadow: 0px 0px 10px white;
  border-radius: 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}