@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
  --background-color: #0d66c8;
  --accent1-color: #13e7e7;
  --accent2-color: #007c7c;
  --light1: #0c417d;
  --light2: #1d89c8;
  --dark1: #00234a;
  --dark2: #001b30;
  box-sizing: border-box;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: white;
}

.dark {
  color: #333;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.1em;
}
p {
  font-size: 1.7em;
}
html {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
}

main {
  margin-top: 16px;
}

li {
  list-style: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background-color);
  color: #4f5c65;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 0px 0px;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.logo{
  height: 90%;
  width: auto;
  margin-top: 10px;
}

.logo-buddy {
  width: fit-content;
  height: 60px;
}

.logo-writing {
  font-size: 3em;
  padding: 9px 15px;
  color: white;
  text-decoration: none;
  margin-top: 19px;
  font-weight: 600;
  margin-right: auto;
}

.flex-container {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  padding-right: 36px;
  padding-bottom: 10px;
  padding-left: 36px;
  gap: 5px;
  justify-content: center;
}


.button {
  font-size: 2.1em;
  padding: 9px 15px;
  background-color: #0d66c8;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  
}

.button:focus,
.button:hover {
  outline: 4px solid #3d4a58;
}

header {
  box-sizing: border-box;
  float: none;
  line-height: 24px;
  position: relative;
  z-index: 1000;
}
.card {
  background-color: var(--background-color);
  padding-bottom: 0px;
  padding-top: 96px;
  display: block;
  height: fit-content;
  padding-top: 200px;
  padding-bottom: 150px;

}

.container {
  padding-top: 0px;
  position: relative;
  z-index: 2;
  margin-bottom: -4vw;
  width: 100%;
  max-width: 1272px;
  margin-right: 36px;
  padding-bottom: 0px;
  padding-left: 36px;
  color: #ffffff;
  height: 500px;
}

.divider {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 4vw;
  /* opacity: 0; */
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;

}
.little-right-margin {
  margin-right: 1%;
}


.get-app-button {
  background-image: linear-gradient(to top left, var(--dark1), var(--dark2));
  background-size: 700%;
  background-position: right;
  transition: background-position 3sec;
  color: white;
  outline: 0px solid;
  transition: outline 1sec;
  margin-left: 2%;
}

.get-app-button:focus,
.get-app-button:hover {
  outline: 4px solid #3d4a58;
  background-position: right;
}

@media (max-width: 823px) {
  .sticky {
    position: unset;
  }
  .flex-container {
    flex-direction: column;
    width: fit-content;
    margin-left: 0px;
  }
  .logo-writing,
  .button {
    margin-right: auto;
    margin-left: 0;
    padding-left: 0%;
  }
  .logo-writing {
    margin-top: 40px;
  }
  .get-app-button {
    position: absolute;
    right: 0;
    margin-top: 12px;
    margin-right: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .flex-card {
    display: block;
  }
  .card1 {
    margin-top: 177px;
  }

}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.sticky + .content {
  padding-top: 60px;
}

.wept {
  background-color: red;
  height: fit-content;
  width: 100%;

}


.whiteground {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  height: fit-content;
}
.whiteground * *,
.whiteground * {
  color: #333;
}

.transparentground {
  background: transparent;
  opacity: 0.5;
  padding-top: 5%;
  padding-bottom: 5%;
  height: fit-content;
}

.card-gradient {
  background-color: transparent;
  background-image: linear-gradient(to left, var(--light1), var(--light2));
}

.video-card {
  background-color: transparent;

}

.mini-flex-card1,
.flex-card {
  display: flex;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  gap: 5%;
  justify-content: center;
}

.scaleable {
  width: 30%;
}

.limit-width {
  max-width: 400px;
  padding: 1%;
}

.footer-columns {
  display: flex;
  justify-content: center;
  gap: 12%;
}
.social_media {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.s-card {
  background-color: #0d66c8;
}