body {
    background-color: white;
}

h1 {
    font: orange;
    color: white;
    font-size: 1.5em;
    background-color: ghostwhite;
    padding: 25px;
    border: 3px solid #990000;
    margin: 12px 100px 10px 300px;
    
}

h2 {
    color:blue;
    background-color: brown;
}

p {
    width: 500px;
    margin: 15px auto;
}

.imgtest{
    width: 350px;
    float: right;
    padding: 15px;
    margin: 50px;
    background: gray;
    border: 2px;
    font: purple;
}